.preload-player
    display hidden

.playlist tbody tr:hover
    cursor default
    background-color #E0E0E0

.playlist tbody tr.playing
    background-color #E0E0E0

.playlist tbody tr
    white-space nowrap

.artist, .album, .title
    width 10em
    overflow hidden

.song-info-next
    color grey

.song-info
    white-space nowrap

#artist, #album
    cursor pointer

.notloaded
    color red

.loaded
    color green
