.preload-player
    display hidden

.playlist tbody tr:hover
    cursor default
    background-color #E0E0E0

.playlist tbody tr.playing
    background-color #E0E0E0

.playlist tbody tr
    white-space nowrap

.song-info-next
    color grey

.song-info
    white-space nowrap
    overflow hidden

#artist, #album, #title
    cursor pointer

.notloaded
    color red

.loaded
    color green

#preload-status
    padding-left 0.5em

#search
    width 16em

#status-current
    overflow hidden
    white-space nowrap

.separator
    font-weight bold

.artist, .album, .title
    max-width 300px
    margin-right 5px
    overflow hidden
    white-space nowrap

.row-index
    display none

td.album
    background-color #e0e0e0

td.album, td.artist
    padding-left 0.3em

.show-after-height-calculation
    display none

.playing
    background #c0c0c0
