doctype 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![endif]
  head
    base(href="#{locals.root}")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Node music converter player
    meta(name='description', content='Plays music from a predefined music collection.')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='external/css/smoothness/jquery-ui-1.9.2.custom.css')
    link(rel='stylesheet', href='external/css/bootstrap.min.css')
    link(rel='stylesheet', href='external/css/bootstrap-responsive.min.css')
    != css("style")
    script(src='external/js/modernizr.min.js')
  body
    div(id="content")
      div(id="player", class="container-fluid")
        div(class="row-fluid")
          div(class="span2")
            audio(class="player")
            audio(class="preload-player", preload="auto")
            span(id="player-controls")
              button(id="play-control", title="Press 'x' to play/pause.", data-toggle="tooltip", data-placement="right") Play
              button(id="next", title="Press 'b' to jump to next.", data-toggle="tooltip", data-placement="right") Next!

          div(id="player-status", class="span8")
            span(id="playback-position")
              input(class="position-slider", type="range", min="0", max="100", step="0.1", title="Playback position.", data-toggle="tooltip", data-placement="bottom")
              &nbsp;
              span(class="current-position", title="Playback position.", data-toggle="tooltip", data-placement="bottom") 00:00
              &nbsp;/&nbsp;
              span(class="duration", title="Song duration.", data-toggle="tooltip", data-placement="bottom") 00:00

            span(id="volume")
              input(class="volume-slider", type="range", min="0", max="100", step="0.1", title="Press '+'/'-' to adjust volume.", data-toggle="tooltip", data-placement="bottom")
              &nbsp;
              span(class="volume-intensity", title="Volume 0-100. Press '+'/'-' to adjust volume.", data-toggle="tooltip", data-placement="bottom")

          div(class="span2", class="pull-right")
            button(id="toggle-queue", title="Press 'q' to toggle queue.", data-toggle="tooltip", data-placement="left") Show queue
            &nbsp;
            span(id="queue-length", title="Songs in queue.", data-toggle="tooltip", data-placement="left") 0
            span(id="preload-status", title="Preload status for the next song.", data-toggle="tooltip", data-placement="left")
              span(class='notloaded') ✘

        div(class="row-fluid")
          div(class="search-song-info span12")
            label(class="info-label", title="Press 'j' to focus and 'return' to lose focus.", data-toggle="tooltip", data-placement="right") Search:&nbsp;
              input(type="text", id="search")

            span(id="status-current")
              span(id="title", title="Song title.", data-toggle="tooltip", data-placement="bottom")
              span(class="separator") &nbsp;/&nbsp;
              span(id="album", title="Album name.", data-toggle="tooltip", data-placement="bottom")
              span(class="separator") &nbsp;/&nbsp;
              span(id="artist", title="Artist name.", data-toggle="tooltip", data-placement="bottom")

      div(id="initial-status", class="show-after-height-calculation")
        div Download progress...&nbsp;
          progress(id="download-progress", max="100", value="0")
        div(style="display: none;") Parsing progress...&nbsp;
          progress(id="parse-progress", max="100", value="0")

      div(class="dataTables_info remove-after-height-calculation") Showing 1 to XX of XXXXX entries
      table(class="dataTable remove-after-height-calculation")
        thead
          tr
            th Title
            th Album
            th Artist

      table(id="queue", class="playlist")
      table(id="playlist", class="display playlist")

      div(class="description") Source code:&nbsp;
        a(href="https://bitbucket.org/barro/node-music-converter/") https://bitbucket.org/barro/node-music-converter/

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')
    script(src='external/js/bootstrap.min.js')
    script(src='external/js/jquery.dataTables.min.js')
    script(src='external/js/jquery.hotkeys.min.js')
    script(src='external/js/Scroller.min.js')
    script(src='external/js/underscore.min.js')
    script(src='external/js/backbone.min.js')
    script(src='external/js/underscore.string.min.js')
    script(src='external/js/html5slider.js')
    // Session storage may use this information to start playback immediately.
    script(type='text/javascript')
      var PLAYLIST_CACHE_KEY = "#{cacheKey}";
    != js("script")
    // This is needed by the search script web worker, but connect-asset
    // prevents us from doing includes without this trick.
    | <!--
    != js("search")
    | -->
